.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); }
  .modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 12px;
    background: #f0f8ff;
    padding: 0.5rem; }
    @media only screen and (max-width: 992px) {
      .modal .modal-content {
        width: 85%; } }
    @media only screen and (max-width: 768px) {
      .modal .modal-content {
        width: 95%; } }
  .modal .modal-title {
    width: calc(100% + 1rem);
    border-bottom: 1px solid lightgray; }
  .modal .modal-footer {
    width: calc(100% + 1rem);
    border-top: 1px solid lightgray;
    padding: 0 0.5rem; }
